
 

.portfolio-work {
 
    height: 700px;   
    width: 1050px;
    padding-top: 2%;
    margin: 3% 10%;
    position: absolute;
    display: grid;

     grid-template-columns: 1fr 1fr;
     gap:20%
   
  }
 

 
  .portfolio-work:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 20px;
    width: 60%;
    border-top: 1px solid #000;
  }


  .portfolio-work:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 50px;
    width: 10%;
    border-left: 1px solid #000;
  }

  .portfolio-work:after {
    content: ""; 
    position: absolute;
    bottom: 0;
    left:50%;
    transform: translateX(-50%);
    width: 20%; 
    border-bottom: 1px solid black; 
}
 

  #portfolio{
    margin-top: 10%;
    margin-bottom: 10%;
    
  }

  .content{
    height: 100%;
   
  }

  .quote1{
    padding: 10%;
    margin-left: 7%;
    font-family: var(--font-carmenta);
    letter-spacing: 1.5px;
    line-height: 55px;

  }

  .quote1>h1{
    font-size: 50px;

  }

  .quote1>span{
    font-size: 10px;
    float: right;
    margin-right: 20%;

  }

  .work1{
    padding: 5%;
    margin-left: 10%;
    text-align: justify;
  
    letter-spacing: 1px;
    line-height: 17px;
    
  }

  .work1>p:nth-child(2){
    padding-top: 10%;

    font-size: 14px;

  }

  .work1>p:nth-child(3){
    padding-top: 25%;
    font-size: 12px;
 
  }

  .cta-workPortfolio>a:nth-child(2){
     margin-left: 10%;
    
  }

 


  @media screen and (max-width: 1150px) {
    .portfolio-work{
        grid-template-columns: 1fr ;
        height: 700px;
        width: 800px;
        gap: 0%;   
    }

    .quote1{
        margin-top:-10%;
        
    }

    .work1>p:nth-child(3){
        padding-top: 10%;
        font-size: 12px;
      }

      #portfolio{
    
        padding-bottom: 50%;
    }

}


@media screen and (max-width: 840px) {
    .portfolio-work{
        grid-template-columns: 1fr ;
        height: 700px;
        width: 600px;
        margin-top: 30%;
    }



.content{
    padding: 10% 15%;
  }

}

@media screen and (max-width: 600px) {

    .portfolio-work {
        align-items: center;
        justify-content: center;
        height: 800px;   
    
    }
     #portfolio{
    
        padding-bottom: 130%;
    }



.content{
    padding: 10% 25%;
  }

}

@media screen and (max-width: 500px) {

    .portfolio-work {
        align-items: center;
        justify-content: center;
        height: 1000px;   
    
    }
     #portfolio{
    
        padding-bottom: 1000px;
    }



.content{
    padding: 10% 15%;
    margin-right: 30%;
  }

}

 
  

