 

.container.contact_container{
    width: 75%;
    display: grid;
    grid-template-columns: 25% 58%;
    gap: 20%;
    padding-top: 13%;
 

}


.contact-options{

    display: flex;
    flex-direction: column;
    gap:2.2rem
}

.contact-option{
    background-color: var( --color-nav);
    padding: 1rem;
    text-align: center;
    border: 1px solid var(--color-text);
    transition: var(--transition);
}

.contact-option:hover{
    background-color: transparent;
    border: 1px solid var(--color-text);
}

.icon-contact{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.contact-option>a{
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.6rem;
    color: var(--color-text);

}

.contact-option>h5{
    font-size: 0.7rem;
   

}

 

/* form */

form{
    display: flex;
    flex-direction: column;
    gap: 2.2rem
}

input,textarea{
    width: 100%;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid var(--color-boder-contactBox);
    resize: none;
    color: var(--color-text);
}

input::placeholder,textarea::placeholder{
    color: rgba(255, 255, 255, 0.804);
   
    font-family: Questrial;
    letter-spacing: 1px;
}

@media screen and (max-width: 1024px) {
    .container.contact_container{
        
        grid-template-columns: 1fr;
         
         
         
    
    
    }

 
}


@media screen and (max-width: 840px) {
    .container.contact_container{
        
        padding-top: 15%;
   }



.content{
    padding: 10% 15%;
  }

}

@media screen and (max-width: 600px) {

    .container.contact_container{
        
        --containder-width-sm: 90%;
         
         
        
    
    
    }
}

@media screen and (max-width: 500px) {

    .portfolio-work {
        align-items: center;
        justify-content: center;
        height: 1000px;   
    
    }
     #portfolio{
    
        padding-bottom: 1000px;
    }



.content{
    padding: 10% 15%;
    margin-right: 30%;
  }

}

 