
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: var(--color-nav) ;
    padding: 4rem 0rem;
   
    position: static;
    font-size: 0.9rem;
    margin-top: auto;
    bottom: 0;
    width: 100%;

}

.permalinks{
     padding-left: 10%;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer a{
    color: var( --color-text);
    text-decoration: none;
    
   
}

footer a:not(a:nth-child(3)){
  
   margin-top: 15%;
}

footer a:nth-child(3){
    writing-mode: vertical-rl;
text-orientation: upright;
   padding-right: 90%;
 
    
   
}

.footer_copyright{
    float: left;
    padding-left: 3%;
    padding-top:2%
}

@media screen and (max-width: 1024px) {
    .permalinks{
       
        padding-left: 10%;
        display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;

   }

   footer {
    margin-top: 700px;
    bottom: 0;
    
   }

 
}

@media screen and (max-width: 950px) {
    .permalinks{
       
        padding-left: 10%;
        display: grid;
       grid-template-columns: 1fr 1fr 1fr 1fr;

   }

   footer {
    margin-top: 1300px;
    bottom: 0;
    
   }

 
}




@media screen and (max-width: 840px) {
    .container.contact_container{
        padding-top: 50%;
        
       
   
   
   }

   .permalinks{
       
   
   grid-template-columns: 1fr 1fr 1fr ;

}

   footer {
    margin-top: 1000px;
    bottom: 0;
    
   }




.content{
    padding: 10% 15%;
  }

}

@media screen and (max-width: 750px) {
 
    .container.contact_container{
        padding-top: 150%;
        
       
   
   
   }

   footer {
    margin-top: 1800px;
    bottom: 0;
    
   }
 
}

@media screen and (max-width: 600px) {

    .permalinks{
       
   
        grid-template-columns: 1fr 1fr  ;
     
     }

     .container.contact_container{
        padding-top: 220%;
        
       
   
   
   }
}

@media screen and (max-width: 500px) {


    .permalinks{
       
   
        grid-template-columns: 1fr  ;
     
     }
}

 